html
	head
		title nice webzone woud be a shame if...

		link(rel="stylesheet", type="text/css", href="styles.css")
		script(src="js/helper.js")
		script(src="js/main.js")

	body
		img(src="http://localhost:3000/iconpack/Items/banana.png")
	
