html
	head
		title Wow what a nice webzone!

		link(rel="stylesheet", type="text/css", href="styles.css")
		script(src="js/helper.js")
		script(src="js/main.js")

	body
		p(onload="start()") this webzone is nice indeed!
		div.dark omg black div!!!
	
